@model medical.Models.medicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicine_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicine_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_of_medicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_of_medicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiration_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiration_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
